{{>admin/layout/manager_header}}

<!--컨테이너1 시작-->
<div class="flex_center">
    <div class="main">
        <div class="container">
            <div class="section1">
                <div class="section_title">캠핑장</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-tent"></i><a href="/admin/camp/setting">캠핑장 관리</a></li>
                    <li><i class="fa-solid fa-compass"></i><a href="/admin/camp/current">캠핑장 현황 · 리뷰</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">회원</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-user"></i><a href="/admin/user">회원 관리</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">고객센터</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-question"></i><a href="/admin/customer/faq">FAQ</a></li>
                    <li><i class="fa-regular fa-clipboard"></i><a
                            href="/admin/customer/notice">공지사항</a></li>
                </ul>
                <div class="short_line"></div>
            </div>
        </div>
        <!--컨테이너1 끝-->

        <!--컨테이너2 시작-->
        <div class="check_container">
            <div class="admin_container_title">
                <h3>회원 관리</h3>
            </div>
            <form id="search-form" action="/admin/user" method="get">
                <div class="custom_search">
                    <input type="text" name="keyword" placeholder="검색 하기">
                    <button type="submit" class="custom_search_button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr class="user_th">
                        <th>#</th>
                        <th>회원 유저네임</th>
                        <th>회원 닉네임</th>
                        <th>회원 프로필</th>
                        <th>회원 가입 날짜</th>
                        <th>회원 삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#userDTOList}}
                    <tr class="user_td">
                        <td>{{userId}}</td>
                        <td>{{username}}</td>
                        <td>{{nickname}}</td>
                        <td>
                            <button type="button" class="profile_button" data-bs-toggle="modal" data-bs-target="#profile_modal" onclick="fetchUser({{userId}})">
                                프로필 보기
                            </button>
                        </td>
                        <td>{{createdAt}}</td>
                        <td>
                            {{#WithDraw}}
                                <button class="already_deleted_button" id="userAlreadyDelete" data-id="1" disabled>삭제완료
                                </button>
                            {{/WithDraw}}
                            {{^WithDraw}}
                                <button class="delete_Button" id="userDelete" data-id="1" onclick="deleteUser({{userId}})">삭제
                                </button>
                            {{/WithDraw}}
                        </td>
                    </tr>
                    {{/userDTOList}}
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="/admin/user?page={{prevPage}}&keyword={{keyword}}">Prev</a></li>
                    <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="/admin/user?page={{nextPage}}&keyword={{keyword}}">Next</a></li>
                </ul>
            </div>
            <div class="modal" id="profile_modal">
                <div class="modal-dialog modal-lg">
                    <div class="user_modal_content">

                        <!-- Modal body -->
                        <div class="user_modal_body">
                            <div class="button">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="body">
                                <div>
                                    <img src="../../../../../images/user/user-profile.jpg" id="user_image">
                                </div>
                                <div class="nickname" id="user_nickname">
                                    오리
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="user_modal_footer">
                            <div class="order">
                                <div class="order_count">
                                    · 예약(<span class="custom_font_point1" id="order_count">3</span>개)
                                </div>
                                <br>
                                <div class="order_data">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr class="order_th">
                                            <th>#</th>
                                            <th style="width: 170px">캠핑장</th>
                                            <th style="width: 110px">예약 날짜(시작)</th>
                                            <th style="width: 110px">예약 날짜(끝)</th>
                                            <th style="width: 100px">예약 구역</th>
                                            <th>결제 금액</th>
                                            <th style="width: 110px">결제 날짜</th>
                                        </tr>
                                        </thead>
                                        <tbody id="order_tbody">
                                        <tr class="order_td">
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <br>
                            <div class="review">
                                <div class="review_count">
                                    · 리뷰(<span class="custom_font_point1" id="review_count">1</span>개)
                                </div>
                                <br>
                                <div class="review_data">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr class="review_th">
                                            <th>#</th>
                                            <th style="width: 80px">닉네임</th>
                                            <th style="width: 332px">리뷰</th>
                                            <th style="width: 108px">평점</th>
                                            <th>작성 날짜</th>
                                            <th>리뷰 삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody id="review_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--컨테이너2 끝-->
    </div>
</div>
<script src="/js/user_management.js">
</script>
</body>
</html>