@import url(reset.css);

/* commmon */
:root {
    --primary_01: #104b3a;
    --primary_02: #F6F5EA;
    --point_01: #AE5A2A;
    --point_02: #87BFCE;
    --point_03: #9b3838;
    --line_01: #dcdcdc;
    --font_01: #2C2C34;
    --font_02: #6C6A6B;
    --font_03: #BFBFC1;
    --font_04: #0095c4;
    --back_01: #F1F1F2;
    --back_02: #FCFBF8;
    --back_03: #e0f3ff;
    --back_04: #fff5ed;
    --def_wh: #fff;
    --def_bl: #000;
}



.top {
    width: 100%;
    height: 75px;
    background-color: var(--primary_01);
}

.date {
    text-align: right;
    color: var(--font_03);
    font-size: 12px;
}

.search {
    width: 300px;
}

.delete_Button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--def_wh);
    background-color: var(--point_03);
    width: 93px;
}

.update_button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--font_01);
    background-color: var(--back_03);
    width: 93px;
}

.insert_button {
    border: none;
    padding: 10px;
    width: 93px;
    border-radius: 5px;
    background-color: var(--font_01);
    color: var(--def_wh);
}

.review_button {
    border: none;
    padding: 10px;
    width: 93px;
    border-radius: 5px;
    background-color: var(--primary_02);
    color: var(--def_bl);
}

.update_to_modal {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--font_01);
    background-color: var(--back_03);
    width: 93px;
}

.insert_to_modal {
    border: none;
    padding: 10px;
    width: 93px;
    border-radius: 5px;
    background-color: var(--font_01);
    color: var(--def_wh);
}

.already_deleted_button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--font_02);
    background-color: var(--back_01);
    width: 93px;
}
.a_tag {
    color: var(--def_bl);
}
