@import url(common.css);

.custom_body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    caret-color: transparent;
}

.top .page_title {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 3px;
    height: 75px;
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.logo {
    color: white;
    text-decoration-line: none;
}

.logo a:hover {
    text-decoration: none;
}

.flex_center {
    display: flex;
    justify-content: center;
    margin-top: 40px
}

.main {
    width: 1280px;
    height: 100%;
    display: flex;
}

.container {
    width: 20%;
    border-right: 0.5px solid var(--line_01);
    padding: 0 28px;
}

.container .section1 {
    margin-bottom: 20px;
}

.section_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
}

.section_ul {
    font-size: 16px;
    list-style: none;
    margin-left: 12px;
}

.section_ul a {
    margin-left: 10px;
    color: var(--font_01);
    transition-duration: 0.2s;
    text-decoration: none;
}

.section_ul a:hover {
    text-decoration: none;
    color: var(--primary_01);
}

.section_ul li {
    margin: 12px 0;
}

.short_line {
    background-color: var(--line_01);
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

.check_container {
    height: 100%;
    width: 80%;
    padding: 0 28px;
}

.admin_container_title {
    font-size: 24px;
    font-weight: bold;
}

.custom_search {
    text-align: end;
    margin-bottom: 40px;
}

.custom_search input {
    height: 40px;
    width: 30%;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    padding: 10px;
    font-size: 14px;
}

.custom_search i {
    position: relative;
    content: "\f0f3";
    font-weight: 900;
    font-size: 20px;
    color: var(--font_01);
    top: 10px;
    transform: translate(0, -50%);
    right: 40px;
}

.custom_search_button {
    width: 0;
    background-color: transparent;
    border: none;
}

.custom_flex {
    display: flex;
}

.custom_font_point1 {
    color: var(--point_01);
}

.custom_font_point3 {
    color: var(--point_03);
}

.custom_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom_flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom_flex_end {
    display: flex;
    justify-content: end;
}

.custom_flex_align_center {
    display: flex;
    align-items: center;
}

.custom_hr {
    opacity: .1;
    color: inherit;
    border: 0;
    border-top: var(--font_01) solid 0.7px;
    margin: 30px 0px;
}

.custom_center {
    text-align: center;
}

.custom_grid_center {
    text-align: center;
    display: grid;
    place-items: center;
}

/*----------------------------------------*/

.review_modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--line_01);
    pointer-events: auto;
    background-color: var(--def_wh);
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
}

.review_modal_body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    background-color: var(--primary_02);
    height: 260px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.review_modal_body .button {
    display: flex;
    justify-content: end;
}

.review_modal_body .body {
    text-align: center;
    color: var(--font_01);
}

.review_modal_body .body .count {
    font-size: 40px;
    margin: 8px 0 30px;
}

.review_modal_body .body .detail_review {
    justify-content: center;
    margin-top: 20px;
}

.review_modal_footer {
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--def_wh);
    border-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: auto;
    margin-top: 10px;
}

.review_modal_footer .review_count {
    color: var(--font_01);
    font-weight: bold;
}

.review_th th {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.review_td td {
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

.review_td .review_button {
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    width: 60px;
    background-color: var(--point_03);
    color: var(--def_wh);
}

/*******************************************************/


.user_modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--line_01);
    pointer-events: auto;
    background-color: var(--def_wh);
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
}

.user_modal_body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    background-color: var(--back_01);
    height: 260px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user_modal_body img {
    width: 165px;
    height: 165px;
    object-fit: cover;
    border-radius: 5px;
}

.user_modal_body .nickname {
    margin-top: 20px;
    color: var(--font_01);
    font-size: 16px;
    font-weight: bold;
}

.user_modal_body .button {
    display: flex;
    justify-content: end;
}

.user_modal_footer {
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--def_wh);
    border-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: auto;
    margin-top: 10px;
}

.user_modal_footer .order_data, .review_data {
    overflow-y: scroll;
    height: 180px;
}

/* 스크롤바의 폭 너비 */
.order_data::-webkit-scrollbar {
    width: 8px;
}

.order_data::-webkit-scrollbar-thumb {
    border-radius: 3px; /* 스크롤바 둥근 테두리 */
    background-color: var(--back_01);
}

.order_data::-webkit-scrollbar-track {
    background: var(--def_wh); /*스크롤바 뒷 배경 색상*/
}

/* 스크롤바의 폭 너비 */
.review_data::-webkit-scrollbar {
    width: 8px;
}

.review_data::-webkit-scrollbar-thumb {
    border-radius: 3px; /* 스크롤바 둥근 테두리 */
    background-color: var(--back_01);
}

.review_data::-webkit-scrollbar-track {
    background: var(--def_wh); /*스크롤바 뒷 배경 색상*/
}

.user_modal_footer .review_count, .order_count {
    color: var(--font_01);
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;

}

.user_th th {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.user_td td {
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
}

.user_td .profile_button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--back_03);
}

.order_th th {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.order_td td {
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    height: 45px;
}

.order_td .camp_route {
    border: none;
    background-color: transparent;
}

/*******************************************************/

.tab_container {
    width: 500px;
    margin: 0 auto;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: var(--font_01);
    color: var(--def_wh);
    border-radius: 5px;
}

.tab-content {
    display: none;
    background: var(--def_wh);
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

.faq_th th {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.faq_td .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.faq_td .content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.faq_td td {
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    height: 45px;
}

.faq_td .profile_button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--back_03);
}

.faq_modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--line_01);
    pointer-events: auto;
    background-color: var(--def_wh);
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
}

.faq_modal_body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    background-color: var(--def_wh);
    height: 490px;
    border-radius: 5px;
}

.faq_modal_body .button {
    display: flex;
    justify-content: end;
}

.faq_modal_body .body {
    text-align: center;
    color: var(--font_01);
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    white-space: pre;
}

.faq_modal_body .column {
    display: flex;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    height: 21px;
}

.faq_modal_body .input{
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    margin-bottom: 20px;
    caret-color: var(--point_01);
}

.faq_modal_body .input:focus {
    outline: none;
}

.faq_modal_body .body .textarea {
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    caret-color: var(--point_01);
    line-height: 20px;
    resize: none;
}

.faq_modal_body .body .textarea:focus {
    outline: none;
}

/* 스크롤바의 폭 너비 */
.textarea::-webkit-scrollbar {
    width: 8px;
}

.textarea::-webkit-scrollbar-thumb {
    border-radius: 3px; /* 스크롤바 둥근 테두리 */
    background-color: var(--back_01);
}

.textarea::-webkit-scrollbar-track {
    background: var(--def_wh); /*스크롤바 뒷 배경 색상*/
}

/****************************************************************/

.camp_insert_modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--line_01);
    pointer-events: auto;
    background-color: var(--def_wh);
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
}

.camp_update_modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--line_01);
    pointer-events: auto;
    background-color: var(--def_wh);
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
}

.camp_modal_body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    background-color: var(--def_wh);
    border-radius: 5px;
    width: 1000px;
}

.camp_modal_body .button {
    display: flex;
    justify-content: end;
}

.camp_modal_body .body {
    text-align: center;
    color: var(--font_01);
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.camp_modal_body .column {
    display: flex;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    height: 21px;
}

.camp_form {
    margin-top: 40px;
}

.custom_margin_bottom {
    margin-bottom: 20px;
}

.custom_mini_margin_bottom {
    margin-bottom: 10px;
}

/* 스크롤바의 폭 너비 */
.body::-webkit-scrollbar {
    width: 8px;
}

.body::-webkit-scrollbar-thumb {
    border-radius: 3px; /* 스크롤바 둥근 테두리 */
    background-color: var(--back_01);
}

.body::-webkit-scrollbar-track {
    background: var(--def_wh); /*스크롤바 뒷 배경 색상*/
}

.camp_form .title {
    font-size: 17px;
    font-weight: 500;
    width: 21%;
    text-align: start;
}

.camp_form .sub_title {
    font-weight: bold;
    width: 20%;
    text-align: start;
    font-size: 15px;
}

.camp_form .set_title {
    font-size: 17px;
    font-weight: 500;
    width: 32%;
}

.camp_form .option_title{
    font-size: 17px;
    font-weight: 500;
    width: 70%;
    margin-bottom: 14px;
}

.camp_form .column_title {
    font-size: 17px;
    font-weight: 500;
    width: 21%;
    text-align: start;
    margin-bottom: 14px;
}

.camp_form .input {
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    padding: 10px;
    font-size: 15px;
}

.camp_long_input {
    width: 100%;
    /*max-width: 790px;*/
    /*box-sizing: content-box;*/
}

.camp_m_middle_input {
    width: 78%;
    /*max-width: 290px;*/
    /*box-sizing: content-box;*/
}

.camp_middle_input {
    width: 57%;
    /*max-width: 240px;*/
    /*box-sizing: content-box;*/
}

.camp_short_input {
    width: 66%;
    /*max-width: 185px;*/
    /*box-sizing: content-box;*/
}

.address_button {
    height: 45px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    margin-left: 64px;
}


.form-select {
    width: 114px;
    height: 45.5px;
    font-size: 15px;
}

.form_select_middle {
    width: 178px;
    height: 45.5px;
    font-size: 15px;
}

.form_select_long {
    width: 290px;
    height: 45.5px;
    font-size: 15px;
}

.camp_img button {
    border: none;
    background-color: transparent;
}

.camp_img button img {
    width: 32px;
}

.camp_select_form {
    background-color: var(--back_03);
    height: 100px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 5px;
}

.camera_icon {
    width: 18px;
    margin-right: 4px;
}

.camera_receive_form {
    margin-right: 10px;
    background-color: var(--def_wh);
    border: 0.5px solid var(--line_01);
    height: 100px;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
}

.camp_pic_style {
    width: 130px;
    height: 100px;
    border-radius: 5px;
}

.camp_pic_upload_label {
    display: none;
}

.camp_site button {
    border: none;
    background-color: transparent;
}

.camp_site button img {
    width: 32px;
}

.camp_site_pic_form {
    background-color: var(--back_03);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 5px;
    max-height: 100%;
    height: 300px;

}

.camp_site_pic {
    max-width: 100%;
    max-height: 100%;
}

.camp_site_img .content {
    text-align: start;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--font_02);
}

.form-check {
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    display: flex;
    align-items: end;
    font-size: 15px;
    width: 13%;
}

.camp_site_insert_form {
    width: 60%;
}

.add_camp_site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.camp_site_name_input {
    width: 60%;
}

.camp_site_price_input {
    width: 35%;
}

.camp_th th {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.camp_td .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.camp_td .content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.camp_td td {
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    height: 52px;
}


.camp_td .profile_button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--back_03);
}


ul.tabs li.current .a_tag {
    color: var(--def_wh);
    text-decoration: none;
}

.a_tag:hover {
    color: var(--def_bl);
    text-decoration: none;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin-top: 30px;
}

.page-item {
    width: 70px;
    text-align: center;
}

.page-link {
    padding: 10px;
    color: var(--point_01);
}

.page-link:hover {
    color: var(--point_01);
}

/************************************/

.user_main {
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: center;
}



.form_group {
    margin-top: 25px;
}

.form_group input {
    height: 50px;
}

.form_group .k_input_group {
    display: flex;
}

.login_button button {
    background-color: var(--primary_01);
    color: var(--def_wh);
    border: none;
    border-radius: 8px;
    height: 55.5px;
    width: 100%;
    margin-top: 30px;
}

.login_button button:hover,
.login_button button:active,
.login_button button:focus {
    background-color: var(--primary_02);
    color: var(--primary_01);
    border: none;
    box-shadow: none;
    outline: none;
}
